<div class="cont">
<h1>チャンネル管理一覧</h1>
<%= link_to("ジャンル管理", "/manager/genre") %>
<%= link_to("チャンネル管理", "/manager/channel") %>
<%= link_to("番組管理", "/manager/program") %>
<%= link_to("ユーザー管理", "/manager/user") %>
<%= form_tag("/program/channelinfo") do %>
  <p><input type="text" name="chaurl" value="<%= session[:c_url] %>">
     <input type="submit" value="チャンネル情報取得"></p>
<% end %>

<table border="1" width="1000" cellspacing="0" cellpadding="5" bordercolor="#333333">
  <tr>
    <th>ID</th>
    <th>アイコン</th>
    <th>チャンネル名</th>
    <th>BAN</th>
  </tr>
  <% @channel.each do |channel| %>
    <tr>
      <form action="/manager/channel_del" method="post">
        <td><%= channel.id %></td>
        <td><img src ="<%= channel.c_icon %>" width="50" height="50"></td>
        <td><%= channel.c_name %></td>
        <td>
          <input type="hidden" name="c_id" value="<%= channel.id %>">
          <input type="submit" value="削除">
        </td>
        </p>
      </form>
    </tr>
  <% end %>
</table>
</div>
