<div class="cont">
<div class="contCreateList">
<div class="contContactIn about">
<h1>データベース管理画面</h1>
    <p class="createListBtn"><%= link_to("ジャンル管理", "/manager/genre") %></p>
    <p class="createListBtn"><%= link_to("チャンネル管理", "/manager/channel") %></p>
    <p class="createListBtn"><%= link_to("番組管理", "/manager/program") %></p>
    <p class="createListBtn"><%= link_to("ユーザー管理", "/manager/user") %></p>
    <p class="createListBtn"><%= link_to("番組統計情報", "/manager/pro_analy") %></p>
    <p class="createListBtn"><%= link_to("ユーザー統計情報", "/manager/user_analy") %></p>
    <p class="createListBtn"><%= link_to("登録ランキング", "/manager/user_ranking") %></p>
</div>
</div>
</div>
